.dashboard{
    display: flex;
    height: 100vh;
    
}
/* .sidebar{
    width: 240px;
    height: auto;
} */
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
    
    
}
.main-content{
    flex: 1;
    
    background-color: #F5F6FA;
    
}

.logout-button{
    width: 100px;

}
